<%- include('partials/header'); -%>
<div>
    <div class="row smoothie m-2"></div>
    <div class="row headings m-2">
        <div class="col-12">
            <h2 class="text-center">Drinks Recipes</h2>
            <h3 class="text-center">Building from tutorial</h3>
            <a class="m-2 d-flex justify-content-center" href="drinks">
                <button type="button" class="btn btn-primary">
                    View Recipes
                </button>
            </a>
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>
