<%- include('partials/header'); -%>

<div
    class="container align-items-center justify-content-center justify-content-md-between"
>
    <div class="card m-auto" style="width: 18rem">
        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        id="email"
                    />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        id="password"
                    />
                </div>
                <div class="errorContainer form-text my-3"></div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

<script>
    const form = document.querySelector("form");
    const errorContainer = document.querySelector(".errorContainer");

    form.addEventListener("submit", async (e) => {
        e.preventDefault();

        //reset errors
        errorContainer.innerHTML = "";

        //capture values
        const email = form.email.value;
        const password = form.password.value;

        //create user
        try {
            const res = await fetch("/login", {
                method: "POST",
                body: JSON.stringify({ email: email, password: password }),
                headers: { "Content-type": "application/json" },
            });
            const data = await res.json();

            //if errors are found
            // if (data.errors?.length > 0) {
            //     const errorList = document.createElement("ul");
            //     errorList.classList.add("list-group");
            //     data.errors.forEach((error) => {
            //         const listItem = document.createElement("li");
            //         listItem.textContent = error;
            //         listItem.classList.add(
            //             "list-group-item",
            //             "list-group-item-danger",
            //         );
            //         errorList.appendChild(listItem);
            //     });
            //     errorContainer.appendChild(errorList);
            // }
            //if user is found
            // if (data.user) {
            //     location.assign("/");
            // }
        } catch (error) {
            console.error(error);
        }
    });
</script>

<%- include('partials/footer'); -%>
